body{
    margin:0;
    padding:0;
    font-family: Gill, Helvetica, sans-serif;
}
ul {
    padding: 0px;
}
.toba-wrapper {
    position:relative;
    margin:0 auto;
    width:800px;
    min-height:900px;
    border:1px solid #ccc;
    padding:20px;
    text-align: center;
}

.toba-wrapper-form {
    margin:0 auto;
    width:800px;
    min-height:900px;
    border:1px solid #ccc;
    padding:20px;
    text-align: center;
}
.toba-wrapper-login {
    margin:0 auto;
    width:800px;
    min-height:900px;
    border:1px solid #ccc;
    padding:20px;
    text-align: center;
}

li {
    display:inline-block;
    color:white;
    width:150px;
    height:40px;
    background-color:#777;
    text-align:center;
    line-height: 2;
    font-size:18px;
    padding-top:6px;
    text-decoration:none;
}
.nav-buttons a {
    color:white;
    text-decoration:none;
}
nav-buttons a:visited {
    color:white;
    text-decoration:none;
}
h4 {
    font-weight:bold;
}
.new-customer-wrapper p {
    color:red;
    font-size:14px;
    font-weight:bold;
}

.toba-wrapper-form {
   position:relative;
   border:1px solid #ccc; 
   width:800px;
   padding:20px;
   display:block;
   margin:0px auto;
}

.toba-wrapper-form.register-page form {
    border:1px solid #ccc;
    padding:20px;
    width:360px;
    margin:0px auto;
}

.toba-wrapper-form.register-page form label {
    width:28%;
    text-align:right !important;
    display:inline-block;
    vertical-align:top;
    margin-bottom:20px;
}

.toba-wrapper-form.register-page form input {
   display:inline-block;
   width:68%;
   vertical-align:top;
} 

footer {
    width:100%;
    color:#555;
    position:absolute;
    bottom:0px;
    left: 0px;
/*    text-align:center;*/
}

.toba-wrapper-form .header {
    text-align:center;
    display:block;
    font-weight:bold;
    margin-bottom:40px;
}

.toba-wrapper-form h4 {
    color:red;
    padding:20px;
}
.toba-wrapper-form.register-page form .submit {
    text-align:center !important;
    float:none;
    margin:20px auto 0px;
    width:50%;
    display:block;
    
}
.toba-wrapper.display-form label {
    width:49%;
    display:inline-block;
    vertical-align:top;
    text-align:right!important;
    float:left;
}
.toba-wrapper.display-form span {
    width:49%;
    display:inline-block;
    vertical-align:top;
    text-align:left!important;
    float:right;
}
