body{
    margin:0;
    padding:0;
    font-family: Gill, Helvetica, sans-serif;
    background-color:#277c7c;
}
ul {
    padding: 0px;
}
nav {
    text-align: center;
    background:#939393;
}
.toba-wrapper {
    position:relative;
    margin:0 auto;
    width:70%;
    min-height:900px;
    border:1px solid #ccc;
    padding:20px;
    text-align: center;
    background-color:#fff;
}

.toba-wrapper-login {
    margin:0 auto;
    width:800px;
    min-height:900px;
    border:1px solid #ccc;
    padding:20px;
    text-align: center;
}

li {
    display: inline-block;
    color: white;
    width: 180px;
    height: 40px;
    
    text-align: center;
    line-height: 2;
    font-size: 18px;
    text-decoration: none;
    padding: 15px 15px 10px 15px;
}
li:hover, li:active {
    background-color:#777;
}



.nav-buttons a {
    color:white;
    text-decoration:none;
}
nav-buttons a:visited {
    color:white;
    text-decoration:none;
}
h4 {
    font-weight:bold;
}
.new-customer-wrapper p {
    color:red;
    font-size:14px;
    font-weight:bold;
}


.toba-wrapper-form {
    margin:0 auto;
    width:800px;
    min-height:900px;
    border:1px solid #ccc;
    padding:20px;
    text-align: center;
}
.toba-wrapper-form {
   position:relative;
   border:1px solid #ccc; 
   width:800px;
   padding:20px;
   display:block;
   margin:0px auto;
}

.register-page form {
    width:428px;
    margin:0px auto;
}

.register-page form label {
    width:28%;
    text-align:right !important;
    display:inline-block;
    vertical-align:top;
    margin-bottom:20px;
}

.toba-wrapper-form.register-page form input {
   display:inline-block;
   width:68%;
   vertical-align:top;
} 

footer {
    width:100%;
    color:#555;
    position:absolute;
    bottom:0px;
    left: 0px;
}

.header {
    text-align:center;
    display:block;
    font-weight:bold;
    margin-bottom:40px;
}

.toba-wrapper-form h4 {
    color:red;
    padding:20px;
}
.toba-wrapper-form.register-page form .submit {
    text-align:center !important;
    float:none;
    margin:20px auto 0px;
    width:50%;
    display:block; 
}

.toba-wrapper.display-form span {
    width:49%;
    display:inline-block;
    vertical-align:top;
    text-align:left!important;
    float:right;
}
.balance-header{
    display:inline-block;
    vertical-align:top;
    width: 400px;
}
.transfer {
    font-size: 20px;
    font-weight: bold;
    line-height: 2;
    height: 50px;
    text-align: left;
    width: 240px;
    margin: 0 auto;
}
.transfer label {
    float:left;
}
select {
    float:right;
    margin-top: 10px;
}

.toba-wrapper table {
    margin:0 auto;
    border:1px solid #777;
}

.toba-wrapper table th {
    width: 300px;
    
    text-align: left;
    padding-left: 10px;
    padding-top: 5px;
}
.toba-wrapper table td {
    text-align: left;
    color:blue;
    padding-left:5px;
}